<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center ">
            <h1 class="mb-1" style="color:blue">SALAS DE MODELO UML</h1>
            <h3 class="mb-2" style="color:blue">
                <em>Tu mejor lugar para crear diagramas en tiempo real</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Emprecemos a Crear
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>